@import "tailwindcss";

@theme {
  --color-navy-light: #134074;
  --color-navy-dark: #13315c;
  --color-lemon: #f1ee19;
  --color-alice: #dfe7ec;
}

@layer base {
  body {
    background-color: var(--color-alice);
    color: var(--color-navy-dark);
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
}